* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: rgba(252, 255, 103, 0.817);
}

header {
    background-color: rgb(13, 2, 174);
    color: white;
    padding: 16px 0;
    display: flex;
    border-bottom: 16px solid rgb(12, 0, 55);
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
    text-transform: uppercase;
}

form {
    background-color: rgba(252, 255, 103, 0.817);
    padding: 24px 0;
    text-align: center;
    display: none;
}

input,
button {
    padding: 8px;
}

button {
    background-color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

form h2 {
    margin-bottom: 16px;
    text-transform: uppercase;
}

#botao-cancelar {
    background-color: red;
    color: white;
}

#botao-adicionar {
    border: 1px solid rgba(0, 0, 0, 0.652);
}

ul {
    text-align: center;
    margin-top: 24px;
    background-color: rgba(255, 255, 255, 0.676);
    max-width: 50%;
    margin-left: 350px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 4px;
}

ul li {
    list-style: none;
    padding: 3px;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

.todos-p {
    background-color: rgba(253, 255, 193, 0.817);
    padding: 8px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(238, 238, 238);
}
